# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
.RDataTmp
# User-specific files
.Ruserdata
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# R Environment Variables
.Renviron
# pkgdown site
docs/
# translation temp files
po/*~
# RStudio Connect folder
rsconnect/
.DS_Store
# VSCode files
.vscode
# Ignore directories with "data" in their name
*/*Data/
*/*Results/
# Ignore root Results folder
Results/

# Quarto files
.quarto/
_quarto.yml
*.qmd

# Quarto render outputs
_site/
docs/
_site.yml

# Quarto cache and intermediates
*_files/
*_cache/
.knitr/
